/* navigation bar */

header{
	background: linear-gradient(#5F5F5F, black);
	padding: 8px;
}

nav{
  width: 70%;
	margin: 0 auto;
	height: 20px;
	padding-top:30px;
	min-width: 1000px;
}

ul{
  margin:0;
  position:relative;
}

li{
	display: block;
	float:right;
	color:#808080;
	margin-left: 15px;
}

.focus{
  color:white;
}

.logo{
	float:left;
	width: 185px;
	height: 45px;
	position: absolute;
	top: -25px;
  background: url('../assets/logo.png') no-repeat;
}

/* form container*/

.container{
	margin: 30px auto;
	width: 50%;
  min-width: 700px;
}

/* header */

h1{
	color: #4098d7;
	font-weight: 100;
}

/* tabs */

.tab{
  margin: 35px 0;
  width: 195px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-size: .95em;
  display: inline-block;
  background: url('../assets/tab2.png') no-repeat;
}

.selected{
  background: url('../assets/tab1.png') no-repeat;
}

.billTab{
  position:relative;
  left: -10px;
}

/* form informaion */

h2{
  font-size: .9em;
  margin-top: 5px;
}

label{
  font-size: .7em;
}

.number{
  width: 25px;
  height: 25px;
  line-height: 25px;
  border-radius: 50%;
  background-color:#ADADAD;
  color:white;
  text-align: center;
  display: inline-block;
}

.total{
  padding:20px;
  text-align: right;
}

.amount{
  padding-bottom: 30px;
  font-weight: 900;
}

/* form input control */

select{
  display: block;
  width: 80%;
}

input[type='number'] {
  width:30%;
  text-align: center;
}

/* disabled */

select[disabled] {
  color: #CCC;
}

.disabled{
  pointer-events: none;
  color: #CCC;
}

/* buttons */

.delete{
  margin-top: 2.3em;
  border: none;
  padding: 6px 15px;
  background-color: #AD0000;
  color:white;
}

.plus{
  display:inline-block;
  border: 1px solid #4098d7;
  border-radius: 50%;
  width: 20px;
  height:20px;
  text-align: center;
  margin: 15px 10px;
  color: #4098d7;
}

.next{
  margin-top: 2.3em;
  border: none;
  padding: 6px 15px;
  background-color: #006086;
  color:white;
}

/* form table */

table{
  table-layout: fixed;
  width: 100%;
}

td{
  vertical-align: top;
  padding: 10px 10px 20px 0px;
}

tr{
  border-bottom: 1px dashed gray;
}

.numberCol{
  width: 7%;
}

.productCol{
  width: 50%;
  text-align: left;
}

.quantityCol, .priceCol{
  width: 15%;
  text-align: center;
}

/* links */

a{
  text-decoration: none;
}

a:visited, a:link{
  color:black;
}

/* miscellaneous */

.clear { clear: both }

html {
  overflow-y: scroll;
}

hr{
  border-top: 1px solid #8c8b8b;
}